img {
  max-width: 100%;
  margin: auto 0;
  width: 100%;
  max-height: 30em; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#iphone-two {
  width: 10em; }

dt {
  padding-top: 15px; }

body {
  padding: 0;
  margin: 0;
  font-family: "Headland One", Georgia, serif; }

h1 {
  font-size: 1.9em;
  margin-bottom: 10px;
  color: black; }

h2 {
  margin-top: 1.3em;
  font-size: 18px;
  color: #ff6d00; }

h4 {
  font-size: 1em;
  margin-bottom: 10px; }

.why-list {
  margin-top: 0; }
  .why-list li {
    line-height: 28px; }

a {
  cursor: pointer; }

ul {
  list-style: none; }

.nav-container {
  background-color: black;
  width: 100%;
  position: fixed;
  left: 0; }

.orange {
  color: #ff6d00; }

nav {
  text-align: center;
  width: 640px;
  margin: 0 auto; }
  nav ul {
    padding: 0;
    margin: 0; }
  nav li {
    display: inline-block;
    padding: 2px; }
    nav li:after {
      content: "|";
      color: #ff6d00;
      vertical-align: 3px; }
    nav li a {
      font-size: 0.9em;
      color: white; }
    nav li a.active {
      color: #ff8100; }
  nav li:last-child:after {
    content: ""; }
    @media only screen and (min-width: 900px) {
      nav li:last-child:after {
        content: "@leolaneseltd";
        right: 0;
        position: absolute;
        top: 0; } }
  @media only screen and (max-width: 320px) {
    nav {
      width: auto; } }
  @media only screen and (min-width: 320px) and (max-width: 900px) {
    nav {
      width: 90%; }
      nav li a {
        font-size: 1.1em; } }
  @media only screen and (min-width: 900px) {
    nav {
      width: 90%; }
      nav li a {
        font-size: 1.2em;
        padding: 7px; } }

section {
  padding-top: 40px;
  height: 1200px;
  width: 100%; }
  section ul {
    padding: 10px; }
  section .content {
    margin: 0 auto;
    max-width: 640px; }
    @media screen and (max-width: 640px) {
      section .content {
        width: 90%; } }
    section .content a {
      color: black; }
    section .content li {
      font-size: 1em; }

section:nth-child(2) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyB2aWV3Qm94PScwIDAgNDAgNDAnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNDB2NDBoLTQwdi00MCcgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNjY2NjY2MnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg=="); }

section:nth-child(odd) {
  background-color: black;
  color: white; }
  section:nth-child(odd) a {
    color: white; }

section:last-child {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyB2aWV3Qm94PScwIDAgNDAgNDAnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNDB2NDBoLTQwdi00MCcgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNjY2NjY2MnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg=="); }

.bottom-link {
  margin-top: 85px;
  font-style: italic;
  font-size: 0.8em; }

.gist-meta {
  display: none; }

.file-data {
  font-size: 14px; }

@media only screen and (max-width: 320px) {
  html {
    background: auto; } }
